<!DOCTYPE html>
<html lang="en">
    <h2>Add Event</h2>
    <form action="/addevent" method="post">
        Event Name:<br>
        <textarea name="event_name" rows="1" cols="50" placeholder="What was the event called?"></textarea> <br>
        Host Name:<br>
        <textarea name="host_name" rows="1" cols="50" placeholder="Who hosted the event?"></textarea> <br>
        Emails:<br>
        <textarea name="email_list" rows="10" cols="50" placeholder="Enter emails of attendees here (one per line)"></textarea> <br>
        <br>
        Intro Email Subject Line:<br>
        <textarea name="intro_email_subject" rows="1" cols="50" placeholder="Subject line for introductory email."></textarea> <br>
        Intro Email Body:<br>
        <textarea name="intro_email_body" rows="10" cols="50" placeholder="This is the initial email to invite people to link up."></textarea> <br>
        <br><br>
        <input type="submit" value="Add Event">
    </form>
</html>