<!DOCTYPE html>
<html lang="en">
    <div class="container">
        <form id="contact" action="/addevent" method="post">
            <h2>linkbaby.io</h2>
            <p>Help people stay in touch with each other after a meetup or event. No more disappointing mailing lists or group chats - just a new and interesting network.</p>
            <h3>How it works</h3>
            <li>
                <ul>After your event or meetup, share each attendee’s email with linkbaby.io. We’ll email them individually asking them to give us two or three sentences about who they are and what they do.</ul>
                <ul>linkbaby.io will send a little email to each attendee every day, reminding them about one person they met at the event. People can then email each other directly.</ul>
                <ul>It’s totally free, and everyone can opt out at any time.</ul>
            </li>
            <fieldset>
                Event Name:<br>
                <input type="text" name="event_name" placeholder="What was the event called?" required autofocus></textarea>
            </fieldset>
            <fieldset>
                Host Name:<br>
                <input type="text" name="host_name" rows="1" cols="50" placeholder="Who hosted the event?" require></textarea>
            </fieldset>
            <fieldset>
                Emails:<br>
                <textarea name="email_list" rows="10" cols="50" placeholder="Enter emails of attendees here (one per line).\nDon't forget yourself!" require></textarea>
            </fieldset>
            <fieldset>
                Intro Email Subject Line:<br>
                <input type="text" name="intro_email_subject" rows="1" cols="50" placeholder="Subject line for introductory email." require></textarea>
            </fieldset>
            <fieldset>
                Intro Email Body:<br>
                <textarea name="intro_email_body" rows="10" cols="50" placeholder="This is the initial email to invite people to link up." require></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" value="Add Event">Add Event</button>
            </fieldset>
            <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p>
        </form>
    </div>
</html>