<!DOCTYPE html>
<html>
    <div class="container">
        <form id="contact" action="/unsubscribe_confirm" method="post">
            <h4>Unsubscribing {{email}}</h4>
            <input type="checkbox" name="disconnect" value=true checked> Stop sending me emails from this event <br>
            <!-- TODO: Button to get rid of everything -->
            <input type="checkbox" name="make_unfindable" value=true checked> Stop sending other people from this event my email <br>
            <input type="hidden" name="event_id" value={{ event_id }}>
            <input type="hidden" name="id" value={{ id }}>
            <br>
            <fieldset>
                <button name="submit" type="submit" value="Confirm">Confirm</button>
            </fieldset>
        </form>
    </div>
</html>